.tech-word-icon {
	font-weight : 100 ;
}
.pug-container {
	background: grey ;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	&:hover {
		background : white ;
	}
}
.pug-style {
	position : relative ;
	top : .5rem ;
	font-size : 3rem ;
	color: black ;
	width: 4rem;
	height: 4rem;
	text-align: center;
	justify-content: center;
	&:hover {
		color : black ;
	}
}
.npm-style {
	position : relative ;
	font-size : 3rem ;
	width: 3rem;
	height: 4rem;
	text-align: center;
	justify-content: center;
}
