@import 'node_modules/intuitive/build/fonts/intuitive.scss' ;
@import 'node_modules/dark/src/dark.scss' ;
@import 'icon.scss' ;

// shrinked settings
// @media only screen and (max-width: 1000px) {
// 	.layout-fixed-1 {
// 		flex-wrap : wrap ;
// 	}
// 	.fixed-column {
// 		width : 100% ;
// 		position : static ;
// 		flex-shrink : 0 ;
// 	}
// 	.my-anchor {
// 		display : none ;
// 	}
// 	.section {
// 		width : 100% ;
// 	}
// }
// 
// // large settings
//  @media only screen and (min-width: 1000px) {
// 	.fixed-column {
// 		width : 45rem ;
// 		position : fixed ;
// 		height : 100vh ;
// 	}
// 	.my-anchor {
// 		height : 100vh ;
// 		width : 45rem ;
// 		flex-shrink : 0 ;
// 	}
// }
