.pug-container {
	background: grey ;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}
.pug-style {
	position : relative ;
	top : .5rem ;
	font-size : 3rem ;
	color: black ;
	width: 4rem;
	height: 4rem;
	text-align: center;
	justify-content: center;
}
