extends layout
block content
	div#layout-fixed-1
		div#fixed-column.pl-1.pr-1.d-flex.flex-column.justify-content-center
			h1.text-nowrap David Castellon
			div.pl-2
				ul.list-unstyled
					li.h6.my-0
						i.int.int-briefcase-1
						|  Software Engineer
					li: a.h6(href='/personalsite/public/documents/resume/resume.pdf')
						i.int.int-page-1
						|  Resume
					li.h6.my-0
						i.int.int-home-1
						|  607 6th St, Carrollton, Ky
					li.h6.my-0
						i.int.int-phone-1
						|  (502)-525-9983
					li: a.h6(href='mailto:david.castellon.work@gmail.com')
						i.int.int-envelope-1
						|  david.castellon.work@gmail.com
					li: a.h6.my-0(href='https://gitlab.com/david-castellon-work')
						i.int.int-gitlab-1
						|  david.castellon.work@gitlab.com
		div#main-column
			hr
			div.pl-1
				h2
					i.int.int-home-1
					|  About Me
				p.pl-2
					| I'm currently working on my Master's Degree for Computer Engineering
					| and Science at the University of Louisville. This website is where
					| I put stuff I'm working on or have worked on. 
					hr
			div.pl-1.padding-bottom.padding-top
				h2
					i.int.int-briefcase-1
					|  Projects
				ul.list-unstyled.pl-1
					li
						a.link-unstyled(href='/toy/documentation')
							h3 Toy
						p.pl-1
							| This is just a collection of web apps I made following different programming
							| tutorials that illustrate different programming concepts. Sometimes
							| I'll revisit this to remind me of how specific things work.
					li
						a.link-unstyled(href='/intuitive/test')
							h3 Intuitive Icons
						p.pl-1
							| None of the icon packs I found had the icons I wanted, so I decided to make
							| my own icon pack, so I decided to make my own using node
							| and a set of svg images.
					li
						a.link-unstyled(href='/dark/documentation')
							h3 Dark
						p.pl-1
							| This is the bootstrap 4 scss theme that I created. I usually use
							| it as the styling for things I'm working on. This website
							| uses the theme.
					li
						a.link-unstyled(href='/samplelibrary')
							h3 Sample Library Site
						p.pl-1
							| The Mozilla documentation has a tutorial for making a website to store
							| book information using mongodb. This is my run through of that.
					li
						a.link-unstyled(href='https://gitlab.com/david-castellon-work/drone')
							h3 Drone Swarm Project
						p.pl-1
							| UofL has a ariel drone robotics lab that tries to get drone swarms
							| to perform specific tasks. We mainly use quadcopters because of the
							| ease in testing, and the project is just getting started. I've had
							| to select the parts for the quadcopters. I've helped build the
							| quadcopters. I've also done the programming and the configuring for
							| the drones. And I've also done the testing of those programs in
							| different simulators and on the built quadcopters. This is a demo
							| of our swarm application so far, which implements shape drawing.
						div.embed-responsive.embed-responsive-4by3
							iframe.embed-responsive-item(src="https://www.youtube.com/embed/d-RKNVg-LW4?autoplay=1&mute=1&loop=1")
			hr
			div.pl-1.padding-bottom.padding-top
				h2
					i.int.int-asterisk-1
					|  Technical Skills
				ul.d-flex.flex-wrap.list-unstyled.list-inline.pl-1
					li.d-flex.flex-column.list-inline-item
						a.int.int-html5-1.h2.link-unstyled(href='https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5')
					li.pug-container.d-flex.flex-column.justify-content-center.list-inline-item.ml-1
						a.int.int-pugjs-1.pug-style.link-unstyled(href='https://pugjs.org/api/getting-started.html')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-css3-1.h2.link-unstyled(href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-sass-1.h2.link-unstyled(href='https://sass-lang.com/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-bootstrap-1.h2.link-unstyled(href='https://getbootstrap.com/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-javascript-1.h2.link-unstyled(href='https://developer.mozilla.org/en-US/docs/Web/JavaScript')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-jquery-1.h2.link-unstyled(href='https://jquery.com/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-reactjs-1.h2.link-unstyled(href='https://reactjs.org/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-nodejs-1.h2.link-unstyled(href='https://nodejs.org/en/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-mongodb-1.h2.link-unstyled(href='https://www.mongodb.com/')
					li.d-flex.flex-column.justify-content-cente.ml-1r.list-inline-item.ml-1
						a.int.int-npm-1.h2.link-unstyled.npm-style(href='https://www.npmjs.com/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-webpack-1.h2.link-unstyled(href='https://webpack.js.org/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-gulpjs-1.h2.link-unstyled(href='https://gulpjs.com/')
					li.d-flex.flex-column.list-inline-item.ml-1
						a.int.int-git-1.h2.link-unstyled(href='https://git-scm.com/')
				ul.list-unstyled.list-inline.pl-1
					li.list-inline-item.ml-1
						a.h4.link-unstyled.tech-word-icon(href='https://expressjs.com/') Express
					li.list-inline-item.ml-1
						a.h4.link-unstyled.tech-word-icon(href='https://mongoosejs.com/') Mongoose
					li.list-inline-item.ml-1
						a.h4.link-unstyled.tech-word-icon(href='https://developer.mozilla.org/en-US/docs/Glossary/SQL') SQL
			hr
			div.pl-1.padding-bottom.padding-top
				h2
					i.int.int-world-1
					|  Languages
				ul.list-unstyled.pl-1
					li.h3.list-inline-item.tech-word-icon English
					li.h3.list-inline-item.tech-word-icon.ml-1 Spanish
			hr
			div.pl-1.padding-bottom.padding-top
				h2
					i.int.int-certificate-1
					|  Education
				h3.tech-word-icon.pl-1 CS Bachelor Degree
			hr
