include mixins
doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		block required-stuff
			meta(name='viewport' content='width=device-width, initial-scale=1.0')
		block notes-page
			title Davy's Site
		//- inject:css
		//- endinject
	body
		block content
		//- inject:js
		//- endinject
