mixin comp-prog-nav
	div.dropdown.pl-2
		h2.title
			| Computer Systems
			i.int.int-down-arrow-1.h5
		ul.items.list-unstyled
			li.item
				a.pl-2(href='#') Array
			li.item
				a.pl-2(href='#') Matrix
			li.item
				a.pl-2(href='#') Linked List
			li.item
				a.pl-2(href='#') Stack
			li.item
				a.pl-2(href='#') Queue
			li.item
				a.pl-2(href='#') Graph
			li.item
				a.pl-2(href='#') Trees
mixin math-nav
	h2.main-header Math
	div.ver-hover-dropdown
		h4.dropdown-title Propositional Logic
		ul.dropdown-content.list-unstyled
			li.dropdown-item.color1: a(href='#') Truth
			li.dropdown-item.color2: a(href='#') Tautology
mixin science-nav
	h2 Science
	ul
		li: a(href='#')
			| Physics
			ul.my-dropdown
				li: a(href='#') Gravity
		li: a(href='#')
			| Chemistry
			ul.my-dropdown
				li: a(href='#') Compounds
mixin proj-nav
	h2.pl-1
		i.int.int-rocket-1
		|  My Projects
	ul.list-unstyled.pl-1
		li
			a.h3.pl-1(href='/dark') Dark
			p.pl-2 Bootstrap sass theme.
		li
			a.h3.pl-1(href='/intuitive') Intuitive
			p.pl-2 Icon pack.
		li
			a.h3.pl-1(href='/toy/documentation') Toys
			p.pl-2 Some simple reactjs apps.
		li
			a.h3.pl-1(href='/samplelibrary') Sample Library Site
			p.pl-2 A site for managing library books.
