extends layout
block content
	h1 Make and CMake
	p
		| If you are working with a programming language that
		| doesn't have an official package repository, then
		| tools like make and cmake are what you are going to
		| use to manage versions and dependencies.
	a(href='http://www.cs.colby.edu/maxwell/courses/tutorials/maketutor/')
	h2 Make
	p
		| With make you automate build processes using command names and you
		| can specify what flags you are supposes to use with variables allowing
		| you to automate build processes.
	h3 makefile
		| The makefile is a script that you write to define variables and actions
		| for make.
	h2 CMake
		| CMake allows you to take make a step further by allowing you to generate
		| makefiles on the fly.

