extends layout
block content
	div.d-flex.flex-row.flex-wrap
		+my-card
		div.my-anchor
		div.main-column.bg-dark-10
			hr
			div.pl-1
				h2
					i.int.int-home-1
					|  About Me
				p.pl-2 Hi, I'm David. This is site is my notes and projects.
			hr
			//-
				div.padding-bottom
					+comp-prog-nav
				hr
			div.padding-bottom
				+proj-nav
			hr
			//-
				div.padding-left.padding-bottom
					+math-nav
				hr
